.container {

  padding: 90px 20px 20px;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 360px) {
    width: 360px;
  }

  @media screen and (min-width: 768px) {

    padding: 142px 40px 40px;
    width: 768px;
  }

  @media screen and (min-width: 1440px) {

    padding: 162px 80px 40px;
    width: 1440px;
  }

  @media screen and (min-width: 1920px) {
    width: 1920px;
  }
}
