.container {
  padding: 90px 20px 32px;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 360px) {
    width: 360px;
  }

  @media screen and (min-width: 768px) {
    padding: 142px 40px 80px;
    width: 768px;
  }

  @media screen and (min-width: 1440px) {
    padding: 162px 80px 80px;
    width: 1440px;
  }

  @media screen and (min-width: 1920px) {
    width: 1920px;
  }
}

.main_container {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  padding: 32px 20px;

  @media screen and (min-width: 360px) {
    width: 360px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 100px 40px;
  }

  @media screen and (min-width: 1440px) {
    width: 1440px;
    padding: 150px 80px;
  }

  @media screen and (min-width: 1920px) {
    width: 1920px;
  }
}

.main_button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 10;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.contacts_container {
  padding: 90px 0 32px;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    padding: 122px 0 80px;
  }
}

.contacts_inner_container {
  padding: 32px 20px 0;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 360px) {
    width: 360px;
  }

  @media screen and (min-width: 768px) {
    padding: 50px 40px 0;
    width: 768px;
  }

  @media screen and (min-width: 1440px) {
    padding: 80px 80px 0;
    width: 1440px;
  }

  @media screen and (min-width: 1920px) {
    width: 1920px;
  }
}

.not_found_container {
  padding: 160px 20px 120px;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    padding: 260px 40px 200px;
    width: 768px;
  }

  @media screen and (min-width: 1440px) {
    padding: 210px 80px 150px;
    width: 1440px;
  }

  @media screen and (min-width: 1920px) {
    width: 1920px;
  }
}
