.container {
  padding: 20px 20px 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;

  @media screen and (min-width: 768px) {
    padding: 32px 40px 0;
  }

  @media screen and (min-width: 1440px) {
    padding: 32px 80px 0;
  }
}

.logo_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 56px;

  @media screen and (min-width: 768px) {
    gap: 176px;
  }

  @media screen and (min-width: 1440px) {
    gap: 137px;
  }

  @media screen and (min-width: 1920px) {
    gap: 68px;
  }
}

.icon {
  width: 24px;
  height: 24px;
  color: var(--blue-color);
  cursor: pointer;

  transition: transform 1000ms var(--animation);

  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
  }

  /* @media screen and (min-width: 1440px) {
    width: 80px;
    height: 80px;
  } */
}

.icon:hover,
.icon:focus {
  transform: scale(1.1);
}

.btn_container {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
