.background {
  background-image: url(../../images/footer-mob.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  color: var(--white-color);
  padding: 10px 20px;
  height: 112px;
  min-width: 320px;

  @media screen and (min-width: 768px) {
    background-image: url(../../images/footer-tab.jpg);
    padding: 20px 40px;
    height: 200px;
  }

  @media screen and (min-width: 1440px) {
    background-image: url(../../images/footer-note-desk.jpg);
    padding: 40px 80px;
    height: 300px;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 33px;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 68px;
  }
}

.address_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 22px;
  font-size: 14px;
  font-style: normal;
  line-height: 100%;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    margin-top: 30px;
    gap: 10px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 30px;
    margin-top: 17px;
    gap: 28px;
  }
}

.text {
  font-size: 12px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 30px;
  }
}

.socials_list {
  display: flex;
  gap: 0;

  @media screen and (min-width: 1440px) {
    gap: 10px;
  }
}

.social_link {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;

  transition: background-color 1000ms var(--animation);

  @media screen and (min-width: 1440px) {
    width: 70px;
    height: 70px;
  }
}

.social_link:hover,
.social_link:focus {
  background-color: var(--white-color-50);
}

.social_icon {
  width: 24px;
  height: 24px;
  color: var(--white-color);

  transition: color 1000ms var(--animation);

  @media screen and (min-width: 1440px) {
    width: 50px;
    height: 50px;
  }
}

.social_link:hover .social_icon,
.social_link:focus .social_icon {
  color: var(--blue-color);
}
