.socials_list {
  display: flex;
  gap: 0;

  @media screen and (min-width: 1440px) {
    gap: 10px;
  }
}

.social_link_light,
.social_link_dark {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;

  transition: background-color 1000ms var(--animation);

  @media screen and (min-width: 1440px) {
    width: 70px;
    height: 70px;
  }
}

.social_link_light:hover,
.social_link_light:focus {
  background-color: var(--white-color-50);
}

.social_link_dark:hover,
.social_link_dark:focus {
  background-color: var(--blue-color-50);
}

.social_icon_light,
.social_icon_dark {
  width: 24px;
  height: 24px;

  transition: color 1000ms var(--animation);

  @media screen and (min-width: 1440px) {
    width: 50px;
    height: 50px;
  }
}

.social_icon_light {
  color: var(--white-color);
}

.social_icon_dark {
  color: var(--blue-color);
}

.social_link_light:hover .social_icon_light,
.social_link_light:focus .social_icon_light {
  color: var(--blue-color);
}

.social_link_dark:hover .social_icon_dark,
.social_link_dark:focus .social_icon_dark {
  color: var(--white-color);
}
